.card {
  font-family: arial;
  font-size: 20px;

  color: black;
  background-color: white;
}
div {
  margin-bottom: 1rem;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.word,
.reading {
  width: fit-content;
  font-weight: bold;
  text-align: center;
  font-family: 'MS Gothic';
}
.centerPositioning {
  display: grid;
  place-items: center;
}
.notes {
  text-align: left;
  border: 1px solid black;
  padding: 1rem;
  width: fit-content;
}

.notes > .title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.notes > .phrases {
  margin-top: 1rem;
  font-weight: bold;
  font-family: 'MS Gothic';
}
